.event-banner {
  height: 50vh;
  width: 100vw;
  background: url("https://plus.unsplash.com/premium_photo-1708696237438-275bdbf74470?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  color: white;

  .overlay {
    height: 100%;
    width: 100%;
    background-color: #00000097;
    position: absolute;
  }
  h1,
  p {
    z-index: 1;
    text-shadow: 1px 2px 4px #000000bf;
  }
  h1 {
    font-size: 55px;
    margin-bottom: 20px;
  }
  p {
    font-size: 20px;
  }
}
.tab-navigation{
  display: flex;
  justify-content: center;
gap: 25px;
height: 10vh;
}
.school-events, .photo-gallery{
  display: flex;
  align-items: center;
  gap: 15px;

}
.school-events,
.photo-gallery:hover{
  color: #667eea;
  font-weight: 600;
  background-color: #f8f9ff;
  padding: 0 15px;
  border-bottom: 3px solid #667eea;
  transition: all 0.3s ease;
}
.event-section{
  background-color: #f8f9fa;
  padding: 80px;
}
.event-title{
  text-align: center;
  margin-bottom: 40px;
  h1{
    font-size: 50px;
    margin-bottom: 1rem;
    color: #212529;
  }
  p{
    color: #6c757d;
  }
}
.event-categories button{
  font-weight: 600;
  color: #212529;
  border: none;
  outline: none;
  background-color: white;
  padding: 10px 20px;
  border-radius: 25px;
  box-shadow: 2px 2px 8px 0 #1c1a1a33;

}
.event-categories{
  display: flex;
  justify-content: center;
  gap: 20px;
}
.first-button{
  background-color: #667eea !important;
  color: white !important;
}
.event-cards{
  margin-top: 50px;
  padding: 0 50px;
  display: flex;
  gap: 50px;
  .card{
    max-width: 30%;
    border-radius: 15px;
    box-shadow:  3px 3px 12px 0px #0000002e;
    position: relative;

    img{
      width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    }
  }
}
.event-details{
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px 25px;
font-size: 15px;
color: #6c757d;
.pill{
  background-color: #e3f2fd;
  color: #2995c3;
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: 700;

}
}
.event-content{
  padding: 10px 25px;
  h3{
    color: #212529;
    margin-bottom: 15px;
  }
  p{
    text-align: justify;
    color: #6c757d;
  }
}
.event-location{
  color: #6c757d;
  display: flex;
  gap: 15px;
  padding: 10px 15px;
}
.event-date{
  background-color: #667eea;
  color: white;
  padding: 20px;
  border-radius: 15px;
  display: inline-block;
  font-weight: 600;
  position: absolute;
  top: 10;
  left: 10;
  h3{
    font-size: 24px;
  }
  p{
    font-size: 13px;
  }
}
.event-status{
  padding: 10px 15px ;
  border-radius: 20px;
  font-size: 13px;
  background-color: #28a745;
  border-radius: 20px;
  color: white;
  display: inline-block;
  font-weight: 600;
  position: absolute;
  top: 10;
  right: 10;
}
.knowledge{
  background-color: #5716ac;
  color: white;
  text-align: center;
  padding: 8rem;
  margin-top: 100px;
  h1{
    font-size: 50px;
    padding-bottom: 20px;
  }
  p{
    font-size: 1.2rem;
    
  }
  .get-btn{
    padding: 20px 40px;
    margin-top: 60px;
    background-color: white;
    color: #667eea;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1.1rem;
  
  }
}
footer{
        height: 50vh;
        background-color: #34495e;
        color:#d9d9d9 ;
        display: flex;
        flex-direction: column;
    }

    .footer-contenct{
        display: flex;
        justify-content: space-evenly;
        flex: 1;
        align-items: center;
        
    }

    .footer-bottom{
        text-align: center;
        padding: 25px 0;
    }

